body {
    font-size: 15pt;
    margin: 0px;
}
.navigate{
    width: 100%;
    height: 50px;
    background: linear-gradient(#999, #ddd);
    position: fixed;
}

.accauntPole{
    width: 200px;
    height: 100%;
    position: absolute;
    background: #777;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    border: 1px solid white;
}
#name{
    position: absolute;
    left: 0px;
    font-weight: 100;
    height: 30%;
    top: -15%;
    background: none;
}
.surface{
    width: 94%;
    left: 3%;
    position: absolute;
    height: calc(96% - 50px);
    top: calc(2% + 50px);
    background: rgb(255, 255, 230);
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}
#editProfilWin{
    width: 90%;
    height: 90%;
    position: fixed;
    left: -100%;
    top: 5%;
    background: white;
    border: 3px solid #000;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
#nameobj{
    width: 80%;
    height: 50px;
    border-radius: 35px;
    border: 2px solid #daa;
    background: #fca;
    font-size: 110%;
    font-weight: 100;
    padding-left: 30px;
    position: absolute;
    left: 10%;
    top: 250px;
}

